@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1{
    text-align: center;
    margin-top: 20px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

.first-img{
    background-color: #6ce299;
    width: 500px;
    padding: 80px 25px;
    border-radius: 10px;
}

.first-img h2{
    line-height: 1.2;
    font-size: 32px;
}

.first-img p{
    margin: 15px 0;
    font-weight: 500;
    font-size: 15px;
}

.first-img button{
    padding: 10px 20px;
    border-radius: 30px;
    color: black;
    background-color: #fff;
    border: none;
    font-weight: bold;
}

.profile{
    border: 1px solid #dadce0;
    border-radius: 10px;
}

.profile-content{
    padding: 30px 20px;
}

.profile-content h2{
    font-weight: 500;
}

.profile-content p{
    color: #616468;
    padding: 10px 0;
}

.profile .profile-link{
    border-top: 1px solid #dadce0;
}

.profile-content .images{
    padding: 30px 20px;
    display: flex;
    justify-content: space-around;
}

.profile-content .images img{
    width: 80px;
    border-radius: 50%;
}

.profile a{
    text-decoration: none;
    color: #3871e0;
    display: inline-block;
    width:100%;
    padding: 15px 20px;
}

.plan-card{
    border: 1px solid #dadce0;
    width: 400px;
    border-radius: 10px;
}

.plan-card .header-img{
    width: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius:8px;
}

.plan-content{
    padding: 15px 20px;
}

.plan-content h2{
    line-height: 1.2;
    padding: 15px 0;
    font-weight: 500;
}

.plan-content h2~p{
    color: #616468;
    font-weight: 500;
}

.block{
    display: flex;
    align-items: center;
    color: #616468;
    text-transform: uppercase;
}

.block p{
    font-weight: 500;
}

.plan-card .lock{
    width: 20px;
    margin-right: 7px;
}

.plan-content button{
    margin-top: 15px;
    padding: 10px 20px;
    color: #3871e0;
    border: 1px solid #dadce0;
    background-color: transparent;
    border-radius: 5px;
}

.login-page{
    height: 100vh;
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
    margin: 0 auto;
    width: 350px;
    flex-direction: column;
}

.login-page .logo{
    width: 250px;
    margin-bottom: 50px;
}

.login-page .title{
    margin-bottom: 25px;
    font-weight: bold;
}

.login-page input{
    width: 100%;
    outline: none;
    border: 1px solid #dadce0;
}

.password-wrapper{
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #dadce0;
    width: 100%;
    margin: 15px 0;
    border-radius: 10px;
}

.password-wrapper input{
    border: none;
    outline: none;
}

.login-page input,.password-wrapper input{
    padding: 10px 20px;
    border-radius: 10px;
}

.show{
    padding-right: 20px;
    color: #616468;
    opacity: 0.5;
    font-size: 12px;
}

.login-page button{
    background-color: #000;
    padding: 15px 50px;
    font-weight: 500;
    font-size: 16px;
    border: none;
    color: #fff;
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
}

button:hover{
    cursor: pointer;
}

.login-page h2~p{
    font-weight: bold;
    padding: 15px 0;
}

.login-page .light-text{
    color: #a1a1a1;
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    padding: 0;
    padding-bottom: 5px;
}

.login-page a{
    color: black;
    font-size: 13px;
    margin-bottom: 30px;
}

.login-page .ml{
    margin-left: 5px;
}

.login-page .text-sm{
    text-align: center;
    font-size: 13px;
}

.underline{
    text-decoration: underline;
}





